<app-header></app-header>
<br/>
<div class="container is-fluid">
  <div class="columns has-text-centered">
    <div class="column">
      <div class="box">
        <h1 class="title">Simple Form</h1>
        <app-simple-form></app-simple-form>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h1 class="title">Reactive Form</h1>
        <app-reactive-form></app-reactive-form>
      </div>
    </div>
  </div>
</div>

<div class="container is-fluid">
    <app-userdetails></app-userdetails>
</div>