/* You can add global styles to this file, and also import other style files */
@import "./../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

mat-sidenav {
    width: 80vw;   
}

mat-sidenav-container {
    height : 400px;
}

.ccontainer
{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
}