<div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="field">
      <label class="label">Username</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="text" placeholder="Text input" value="UserName" name="userName" ngModel>
        <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
        <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
      </div>

    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="password" placeholder="Text input" value="*********" name="passw" ngModel>
        <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
        <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
      </div>
    </div>

    <div class="field is-grouped is-center">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
      <div class="control">
        <button class="button is-text">Cancel</button>
      </div>
    </div>

    <h2 class="subtitle">Form data : {{formContents}}</h2>


  </form>
</div>